# Nighthawk3D's klipper_lcd_menu - customized for the Makerbot Rep2(+)

# Include LCD Menu System
[include ./lcd_menu/lcd_menu.cfg]
# Enables Modified LCD Screen
[include ./lcd_menu/lcd_tweaks.cfg]

# Defines variables used for customizations of menu system. 
# Heavily borrowed from https://github.com/jschuh/klipper-macros/ with additional tweaks and additions
[gcode_macro _lcd_menu_vars]
description: This macro contains all adjustable settings for Klipper LCD Menu System

# Set to False to hide the Octoprint LCD menus.
variable_menu_show_octoprint: False
# Set to False to hide the SD Card LCD menus.
variable_menu_show_sdcard: False

# Enables Logo
# Set to False if ~logo~ is not defined
variable_is_voron: False
variable_voron_serial: ""
variable_printer_name: "KlipperBot Rep2"


gcode: # Gcode section left intentionally blank. Do not disturb.
    {action_respond_info(" Running the LCD_menu_settings macro does nothing, it is only used for storing LCD menu settings. ")}

[display]
display_group: _Rep2_20x4
menu_timeout: 5

######################################################################
# klipper_lcd_menu enhancements
######################################################################
# These macros and menus will add functionality specific
# to the Rep2/Rep2x (or other printers with 20x4 lcds and bed screws)
# to klipper_lcd_menu

#todo create pr for these, and pull control items out of calibration file
#     update menu tree in documentation to reflect what is really there
#     prep_abs and prep_pla
#     pause at next layer

[gcode_macro LIGHTS_BRIGHT]
gcode:
    SET_GCODE_VARIABLE MACRO=_LED_COLOR_PARAMS VARIABLE=idle_color_rgb VALUE=1.0,1.0,1.0
    
[gcode_macro LIGHTS_ON]
gcode:
    SET_GCODE_VARIABLE MACRO=_LED_COLOR_PARAMS VARIABLE=idle_color_rgb VALUE=.5,.5,.5
    
[gcode_macro LIGHTS_OFF]
gcode:
    SET_GCODE_VARIABLE MACRO=_LED_COLOR_PARAMS VARIABLE=idle_color_rgb VALUE=0,0,0

[menu __main __calib __bedscrews]
type: list
name: Bed Screws Adjust
enable: {'bed_screws' in printer}
index: 3

[menu __main __calib __bedscrews __start]
type: command
name: Start
gcode: BED_SCREWS_ADJUST

[menu __main __calib __bedscrews __accept]
type: command
name: Accept
gcode: accept

[menu __main __calib __bedscrews __adjust]
type: command
name: Adjusted
gcode: adjusted

[menu __main __calib __bedscrews __abort_screws]
type: command
name: Abort
